.card {
    margin-bottom: 8px;
    :global {
        .p-card-title,
        .p-card-subtitle {
            width: 80%;
        }
        
        .p-card-subtitle {
            font-weight: normal;
        }
        
        .p-card-content {
            float: right;
            position: relative;
            right: -10;
            bottom: 40;
            font-size: 20px;
            
            i {
                margin-left: 0.2em;
                color: #c8c8c8;
            }
        }    
    }

    .greenCard {
        border-left: 4px solid #34A835;
    }

    .redCard {
        border-left: 4px solid #007AD9;
    }
}
