    .body {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .control-panel {
            margin: 1em 0em;
                .controls {
                    margin-left: 2em;
                    width: 90%;
                    height: 2.5em;
                    

                    .dropdown {
                        border: none;
                    }

                    .calendar {
                        text-align: right;
                        float: right;
                    }
    
                    .control-button-spend,
                    .control-button-income {
                        border: none;
                        background: #ffffff;
                        opacity: 0.5;

                        &:hover {
                            cursor: pointer;
                            font-weight: 700;
                            opacity: 1;
                            border-bottom: 2px solid black;
                        }
                    }
                }
            }
        
        .preview {
            .title {
                .title-bar {
                    padding: 0.5em;
                    display: flex;
                    align-items: center;
                    text-align: center;

                    .label {
                        width: 25%
                    }

                    .ttl-bar {
                        text-align: center;
                        float: right;
                        width: 55%;
                        height: 9;
                        border-radius: 1em;
                    }

                    .value {
                        width: 25%
                    }
                }
            }
        }

        .chart {
            margin: 1.75em 0em;
        }

        .progress-bar {
            display: flex;
            padding: 0.5em;
            align-items: center;
            text-align: center;

            .pb-title {
                width: 25%;
            }

            .pb-bar {
                width: 55%;

                .bar {
                    height: 9;
                    border-radius: 1em;
                }
            }

            .pb-value {
                width: 25%;
            }

            .spend {
                color: #e91224; 
            }

            .income {
                color: #34A835;
            }
        }

        .footer-button {
            position: absolute;
            padding: 2em;
            bottom: 15;  
            text-align: center;
            width: 100%;
        }
    }

    