    .body {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .control-panel {
            margin: 1em 0em;
                .controls {
                    margin-left: 0.5em;
                    height: 2.5em;
                    

                    .dropdown {
                        border: none;
                        box-shadow: none;
                    }

                    .calendar {
                        font-size: 12px;
                        text-align: right;
                        float: right;
                        padding-right: 1.8em;
                        
                        :global {

                            .p-inputtext {
                                box-shadow: none;
                            }

                            .p-datepicker {
                                right: -19px;
                                left: -190px !important;
                            }
    
                            .p-datepicker-year {
                                padding: 0em 0.5em;
                            }

                            .year {
                               font-size: 12px;
                               border: none;
                               box-shadow: none;
                               padding: 0em 4em;

                               :global .p-dropdown-trigger {
                                   display: none;
                               }
                            }

                        }
                       
                    }

                    &:hover {
                        border: none;
                    }
    
                    .control-button-spend,
                    .control-button-income {
                        border: none;
                        background: #ffffff;
                        opacity: 0.5;

                        &:hover {
                            cursor: pointer;
                            font-weight: 700;
                            opacity: 1;
                            border-bottom: 2px solid black;
                        }
                    }
                }
            }
        
        .preview {
            .title {
                .title-bar {
                    padding: 0.5em;
                    display: flex;
                    align-items: baseline;
                    text-align: center;

                    .label {
                        text-align: left;
                        width: 22%
                    }

                    .ttl-bar {
                        text-align: center;
                        float: right;
                        width: 56%;
                        height: 9;
                        border-radius: 1em;
                    }

                    .incomes {
                        :global .p-progressbar-value {
                            background-color: #34A835;
                        }
                    }

                    .expense {
                        :global .p-progressbar-value {
                            background-color: #e91224;
                        }
                    }

                    .value {
                        text-align: right;
                        width: 22%
                    }
                }
            }
        }

        .chart {
            margin: 1.75em 0em;
        }

        .progress-bar {
            display: flex;
            padding: 0.5em;
            align-items: baseline;
            text-align: center;

            .pb-title {
                width: 20%;
                text-align: left;
            }

            .pb-title > p {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .pb-bar {
                width: 58%;

                .bar {
                    height: 9;
                    border-radius: 1em;
                }
            }

            .cyan {
                :global .p-progressbar-value {
                    background-color: #3FBFBF;
                }
            }

            .lilac {
                :global .p-progressbar-value {
                    background-color: #7A0DE7;
                }
            }

            .pink {
                :global .p-progressbar-value {
                    background-color: #E70DE7;
                }
            }

            .brown {
                :global .p-progressbar-value {
                    background-color: #864707;
                }
            }
            
            .violet {
                :global .p-progressbar-value {
                    background-color: #7247bc;
                }
            }

            .pinkRed {
                :global .p-progressbar-value {
                    background-color: #FF6384;
                }
            }

            .blue {
                :global .p-progressbar-value {
                    background-color: #36A2EB;
                }
            }

            .yellow {
                :global .p-progressbar-value {
                    background-color: #FFCE56;
                }
            }

            .red {
                :global .p-progressbar-value {
                    background-color: #C14242;
                }
            }

            .yellowGreen {
                :global .p-progressbar-value {
                    background-color: #7FBF3F;
                }
            }

            .pb-value {
                padding-left: 0.35em;
                text-align: right;
                width: 22%;
            }

            .pb-value > p {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .spend {
                color: #e91224; 
            }

            .income {
                color: #34A835;
            }
        }

        .footer-button {
            padding: 2em; 
            text-align: center;
            width: 100%;
        }
    }

    