.progress-bar {
  display: flex;
  padding: 0.7em 0.5em;
  align-items: baseline;
  text-align: center;

  .pb-title {
      width: 20%;
      text-align: left;

      p {
          height: 1.4em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
  }

  .pb-bar {
      margin-left: 0.5em;
      width: 56%;
      display: grid;

      .bar {
        height: 9;
        border-radius: 1em;
      }

      .transaction-list {
        display: flex;
        flex-direction: column;
        transition: all 2s linear;

        .transaction {
            letter-spacing: .07em;
        }
      }

      .invisible {
        transition: all 2s linear;
        opacity: 0;
        display: none;
      }
  }

  .cyan {
      :global .p-progressbar-value {
          background-color: #3FBFBF;
      }
  }

  .lilac {
      :global .p-progressbar-value {
          background-color: #7A0DE7;
      }
  }

  .pink {
      :global .p-progressbar-value {
          background-color: #E70DE7;
      }
  }

  .brown {
      :global .p-progressbar-value {
          background-color: #864707;
      }
  }
  
  .violet {
      :global .p-progressbar-value {
          background-color: #7247bc;
      }
  }

  .pinkRed {
      :global .p-progressbar-value {
          background-color: #FF6384;
      }
  }

  .blue {
      :global .p-progressbar-value {
          background-color: #36A2EB;
      }
  }

  .yellow {
      :global .p-progressbar-value {
          background-color: #FFCE56;
      }
  }

  .red {
      :global .p-progressbar-value {
          background-color: #C14242;
      }
  }

  .yellowGreen {
      :global .p-progressbar-value {
          background-color: #7FBF3F;
      }
  }

  .pb-value {
      padding-left: 0.35em;
      text-align: right;
      width: 22%;
  }

  .pb-value > p {
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .expense {
      color: #e91224; 
  }

  .income {
      color: #34A835;
  }
}