$elemPadding: 1.5em 1em;

* {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: $elemPadding;

        .header {
            display: flex;
            justify-content: space-between;
            align-content: flex-start;
            margin-bottom: 20px;

            .incomeWrapper,
            .expensesWrapper {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                .mark {
                    color: #888;
                    font-size: .8em;
                }
            }

            .monthPicker {
                min-width: 100px;
                border: none;
                text-align: center;

                :global {
                    .p-dropdown-label {
                        font-weight: 600;
                    }

                    .pi-chevron-down {
                        font-size: .8em;
                    }
                } 
            }
        }

        .upBtnWrapper {
            position: absolute;
            bottom: 20px;
            right: 20px;
            z-index: 5;
        }
     }
