{
  "host": "localhost",
  "port": 8000,
  "mongoHost": "localhost",
  "mongoPort": 27017,
  "mongoDB": "db",
  "mongoUser": "root",
  "mongoPassword": "toor",
  "tokenSecret": "secret",
  "saltRounds": 5
}
