html, body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.menu a {
  display: block;
  width: 20%;
  text-align: center;
  padding: 1rem 0 1rem 0;
  color: #000;
}

:global {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.02em;
    height: calc(99vh - 52px);
    padding-top: 52px;
  }

  .main-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
  }
}

