 .container {
    height: 100vh;
    margin: 0;

    .noPopUp {
        display: none;
    }

     .cardList {
        text-align: left;
        width: 85%;
        margin: auto;
        height: 90vh;
        padding-top: 1em;
    }

        :global .p-button-secondary {
            width: 100%;
            padding: 0.5em 0em;
            border-radius: 0.7em;
            background: linear-gradient(0deg, rgb(214, 214, 214), #ffff);
        }
 }

.content {
    text-align: center;
}
    
    
