.container {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  padding: .5em 1em;
  height: calc(100vh - 110px);

  .noPopUp {
    display: none;
  }

  .cardList {
    text-align: left;
    height: calc(100vh - 160px);
    overflow-y: auto;
  }
}

.content {
  height: calc(100vh - 110px);
}
    
    
    
