 .container {
    height: 100vh;
    margin: 0;

    .noPopUp {
        display: none;
    }

     .cardList {
        text-align: left;
        height: 90vh;
    }
 }

.content {
    text-align: center;
}
    
    