$elemPadding: 1.5em 1em;

* {
    font-family: 'Roboto', sans-serif;
  }

  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.02em;

        .profile-header {
            padding: $elemPadding;
            border-bottom: 1px solid black;
        }

        .profile-settings {
            padding: $elemPadding;
        }

        .profile-body {
            height: 5em;
        }

        .profile-social-links {
            border-bottom: 1px solid black;
            i {
                padding: 0.5em 0.5em;
            }
        }
    
        .footer {
            padding: 2em 1em;
            
            a {
                text-decoration: underline;
                color: black;
            }
        }
  }
  
  .content {
    text-align: center;
  }
    